python_crfsuite>=0.9.5
tensorflow==2.4.0
tensorboard==1.8.0
scikit_learn>=0.19.1
keras-preprocessing>=1.0.5
keras-applications>=1.0.6
Keras>=2.2.0
scipy==1.0.0
seqeval==0.0.3
six==1.11.0
smart-open==1.5.3
Theano==0.9.0
Werkzeug==0.15.3
backports.weakref==1.0rc1
bleach==3.1.4
bz2file==0.98
chardet==3.0.4
enum34==1.1.6
gensim==3.1.0
h5py==2.7.1
html5lib==0.9999999
idna==2.6
m2r==0.1.12
Markdown==2.6.9
numpy==1.15.0
protobuf==3.15.0
python-dateutil==2.6.1
pytz==2017.3
pandas==0.22
